.site-header {
    border-bottom: 1px solid var(--color-border-light);
}

.site-branding {
//  flex-grow: 1;
// width: 300px;
 // z-index: 1;
}

.site-title {
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 14px;
    line-height: 1.3;
  a {
      padding: 20px;
      margin-left: -20px;
    display: inline-block;
      position: relative;

        &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            content: '';
            transform: scaleX(0);
            background-color: var(--color-text-accent);
            transition: all .2s ease-out;
        }

        &:hover:after {
            transform: scaleX(1);
        }

      &:hover {
          color: var(--color-text-accent);
      }
    }
}

.site-description {
  margin-bottom: .5em;
}

.site-logo {
    display: block;
    max-width: 220px;
}

.site-header-col {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-left: .5rem;
    padding-right: .5rem;

    .main-navigation {
        order: -1;
    }

    .dark-mode-toggle {
        margin-left: auto;
    }
}

@media screen and (min-width: 37.5em) {
    .site-header-col {
        justify-content: flex-start;

        .main-navigation {
            order: 0;
        }
    }

    .site-title a {
        margin-right: 20px;
    }
}

.pageBannerImage {
    position: relative;
    min-height: 240px;
    background-color: $color--lightgray;
    overflow: hidden;
}

.pageBannerImage__image {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (screen and min-width: 540px) {

    .pageBannerImage {
        min-height: 380px;
    }
}

@media (screen and min-width: 728px) {

    .pageBannerImage {
        min-height: 450px;
    }
}

@media (screen and min-width: 1080px) {

    .pageBannerImage {
        min-height: 500px;
    }
}
