html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body,
button,
input,
select,
textarea {
	color: var(--color-text-primary);
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
	background: var(--color-bg-primary);
    font-size: 16px;
}

blockquote, q {
    border-left: 3px solid var(--color-border);
    padding-left: 1.5em;
    margin: 1.5em 0;
    color: var(--color-text-secondary);
    font-style: italic;

	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}

    p {
        margin-bottom: 0.5em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    cite {
        display: block;
        margin-top: 0.75em;
        font-size: 0.875em;
        font-style: normal;
    }
}

hr {
	background-color: var(--color-border);
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

ul, ol {
	margin: 0;
    overflow-wrap: break-word;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 0;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

.row {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.row--index {
  margin-top: 52px;
}

@import "typography";
@import "links";