.wp-block-quote,
.editor-styles-wrapper .wp-block-quote {
    border-left: 3px solid var(--color-border) !important;
    padding-left: 1.5em !important;
    margin: 1.5em 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    color: var(--color-text-secondary);
    font-style: italic;

    p {
        margin-bottom: 0.5em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    cite {
        display: block;
        margin-top: 0.75em;
        font-size: 0.875em;
        font-style: normal;
    }

    &.is-style-large {
        padding-left: 2em !important;
        border-left-width: 4px !important;

        p {
            font-size: 1.25em;
            line-height: 1.5;
        }
    }
}
